[submodule "third_party/envoy-data-plane-api"]
	path = third_party/envoy-data-plane-api
	url = https://github.com/envoyproxy/data-plane-api.git
	pinned-commit = 84e84367f2560cdb47b9bb78fd3e615feb80c3e4
[submodule "third_party/xds"]
	path = third_party/xds
	url = https://github.com/cncf/xds.git
	pinned-commit = dba9d589def2cd10099a3a64887d859188c2f57a
[submodule "third_party/protoc-gen-validate"]
	path = third_party/protoc-gen-validate
	url = https://github.com/bufbuild/protoc-gen-validate.git
	pinned-commit = 414042a5ff2e98dc47f8161937316a25b1da5bba
